input {
    border-radius: 4px;
    width: 272px;
    height: 40px;
    background-color: #fff;
    outline: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2E2F42;
    margin-bottom: 32px;
    border: 1px solid #808080;
}

input:hover {
    border: 1px solid #000;
}

input:active {
    border: 1px solid #4E75FF;
}

input:disabled {
    background-color: #FAFAFA;
}

button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    background-color: #4E75FF;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

button:hover {
    background-color: #6C8CFF;
}

button:disabled {
    background-color: #CFCFCF;
    color: #989898;
    cursor: default;
}

.timer {
    display: flex;
    gap: 24px;
    max-width: 346px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2E2F42;
}

.label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    text-transform: uppercase;
}